/.idea/.name
/.cache/clangd/index/_fixes.hpp.A85EBD39D98591A8.idx
/.cache/clangd/index/_vectorize.hpp.5B3FBCF13DCF2AF0.idx
/.cache/clangd/index/algorithm.h.18A2CB7551783EB1.idx
/.cache/clangd/index/attributes.h.E5111948D6A39ADA.idx
/.cache/clangd/index/bc.hpp.A82A01BCECAEA7D8.idx
/.cache/clangd/index/bc.inl.31FD2AD7493CD54D.idx
/.cache/clangd/index/Bindless.cpp.77C3EEEE60FF8ADC.idx
/.cache/clangd/index/Bindless.h.CF6E37DE3CA0B547.idx
/.cache/clangd/index/bit.hpp.C545C6DA664DE1F3.idx
/.cache/clangd/index/bit.inl.D404D3667A3C3B79.idx
/.cache/clangd/index/bitfield.hpp.BB77765F8B087FC4.idx
/.cache/clangd/index/bitfield.inl.21459F8F8C41EA20.idx
/build/cmake/blarg.cmake
/build/cmake/bubble.cmake
/.cache/clangd/index/Bubble.cpp.178261324A6DB80A.idx
/.cache/clangd/index/Bubble.h.4CB3CC5C09AE87A1.idx
/.cache/clangd/index/bubble.h.B332B492975C89D3.idx
/.cache/clangd/index/Camera.h.FF21A823BE596291.idx
/build/cmake/cellShading.cmake
/.cache/clangd/index/CellShading.cpp.CFAE83EA30F47737.idx
/.cache/clangd/index/CellShading.h.1E49E5F710A95202.idx
/build/cmake/cheapBlur.cmake
/.cache/clangd/index/CheapBlur.cpp.159D9B261E243F43.idx
/.cache/clangd/index/CheapBlur.h.DC4FF637C9C7C46E.idx
/build/cmake/chromaticAbberation.cmake
/.cache/clangd/index/ChromaticAbberation.cpp.7A84D58ADEFF80C8.idx
/.cache/clangd/index/ChromaticAbberation.h.839E337E6D09FE29.idx
/.cache/clangd/index/clear.hpp.787D84CD2D5E74FB.idx
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-release/CMakeFiles/clion-Release-log.txt
/build/cmake/CMakeLists.txt
/.cache/clangd/index/color_space.hpp.4FD9B13D07273F3A.idx
/.cache/clangd/index/color_space.inl.B98C6E9236C86D0C.idx
/.cache/clangd/index/common.hpp.CFF952C947F19D2C.idx
/.cache/clangd/index/comparison.hpp.EC104964BE8FBF43.idx
/.cache/clangd/index/comparison.inl.8C2A14BEE5C40AA2.idx
/.cache/clangd/index/compatibility.hpp.5573E2706BCD539E.idx
/.cache/clangd/index/compatibility.inl.7AA3B92FC7D96693.idx
/.cache/clangd/index/component_wise.hpp.1FED0AEEB361B75B.idx
/.cache/clangd/index/component_wise.inl.C5C08707828952EC.idx
/.cache/clangd/index/compressed_tuple.h.3614DCAC89ACA770.idx
/.cache/clangd/index/Compute.cpp.918EE9DC9FD2AC79.idx
/.cache/clangd/index/compute_common.hpp.114AFCA7E9DC2D96.idx
/.cache/clangd/index/compute_vector_relational.hpp.BCB41ED620F57D20.idx
/build/cmake/computeTest.cmake
/.cache/clangd/index/ComputeTest.h.E39107F7E7FFCD4D.idx
/.cache/clangd/index/config.h.B2425753DF2F6AF2.idx
/.cache/clangd/index/constants.hpp.5D0360D1CBAB9F31.idx
/.cache/clangd/index/constants.inl.04CD0964EC3DD56E.idx
/build/cmake/contrast.cmake
/.cache/clangd/index/Contrast.cpp.0784BFA040FA6682.idx
/.cache/clangd/index/Contrast.h.F956DAF43E50787C.idx
/.cache/clangd/index/convert.hpp.05B71DDF15C9C3C2.idx
/.cache/clangd/index/convert.inl.7B0106795C21E9D7.idx
/.cache/clangd/index/convert_func.hpp.4EAE34A96F7E86CA.idx
/.cache/clangd/index/coord.hpp.2DB0FB524966C42E.idx
/.cache/clangd/index/DefaultUniformBuffer.h.2283D937088D3898.idx
/build/cmake/depthPrePass.cmake
/.cache/clangd/index/DepthPrePass.cpp.7DE959A522D31C9E.idx
/.cache/clangd/index/DepthPrePass.h.3FE9EEA8AF676BF5.idx
/build/cmake/dilation.cmake
/.cache/clangd/index/Dilation.cpp.459F8E5ECA856319.idx
/.cache/clangd/index/Dilation.h.B5EE0898A0F2AFF3.idx
/.cache/clangd/index/duplicate.hpp.543462B13FD0E602.idx
/.cache/clangd/index/duplicate.inl.18FBD8527AE32C54.idx
/.cache/clangd/index/dx.hpp.506C20308F44F899.idx
/.cache/clangd/index/dx.inl.617698E98EE2AAF5.idx
/.cache/clangd/index/dynamic_annotations.h.F19D13FE3218287F.idx
/.cache/clangd/index/dynamic_annotations.h.F86E48346EA4240B.idx
/build/cmake/edgeDetection.cmake
/.cache/clangd/index/EdgeDetection.cpp.CDE5A668AB8E555A.idx
/.cache/clangd/index/EdgeDetection.h.63D9B65BFEC0CF6F.idx
/.idea/editor.xml
/.idea/encodings.xml
/.cache/clangd/index/epsilon.hpp.BDED3109F327D0CC.idx
/.cache/clangd/index/epsilon.inl.0489E7C7355C7317.idx
/build/cmake/erosion.cmake
/.cache/clangd/index/Erosion.cpp.C9587C73BA33D8D6.idx
/.cache/clangd/index/Erosion.h.12446AF3F35C4C1E.idx
/.cache/clangd/index/euler_angles.hpp.679A7BD92E405DA4.idx
/.cache/clangd/index/euler_angles.inl.1A979DAEBCA47A2C.idx
/.cache/clangd/index/exponential.hpp.87C57A9A062E15DB.idx
/.cache/clangd/index/file.hpp.1CD12157B173D645.idx
/.cache/clangd/index/file.inl.CC1E9ACB536A9778.idx
/.cache/clangd/index/filter.hpp.FFA9FC156786D7A8.idx
/.cache/clangd/index/filter.inl.AB53638FACF89725.idx
/.cache/clangd/index/filter_compute.hpp.46FAC4D0417E980D.idx
/.cache/clangd/index/fixed_array.h.C263065A1E1818C6.idx
/.cache/clangd/index/flip.hpp.4DCD76557B34F312.idx
/.cache/clangd/index/flip.inl.49C5DF6CD87D6CAA.idx
/.cache/clangd/index/format.hpp.C17957AA8358E37B.idx
/.cache/clangd/index/format.inl.15EE19B6381E4E42.idx
/.idea/Foundation.iml
/.cache/clangd/index/FrameBuffer.h.959A899DD2903222.idx
/.cache/clangd/index/Frost.cpp.08F9E569EDE3859C.idx
/.cache/clangd/index/Frost.h.1DD2B2D0814BE43D.idx
/.cache/clangd/index/func_common.inl.AEE49C0FD4E10800.idx
/.cache/clangd/index/func_exponential.inl.F642857561104D13.idx
/.cache/clangd/index/func_geometric.inl.A5EAE9C4BF2430BC.idx
/.cache/clangd/index/func_integer.inl.85B20DE4C195B24F.idx
/.cache/clangd/index/func_matrix.inl.E2A450B36285591F.idx
/.cache/clangd/index/func_packing.inl.B2E925B38AC24EF6.idx
/.cache/clangd/index/func_trigonometric.inl.221FD432221C0E91.idx
/.cache/clangd/index/func_vector_relational.inl.ABA42D1B43F01368.idx
/.cache/clangd/index/fwd.hpp.3F2C0C2BA2F2B382.idx
/.cache/clangd/index/FXAA.cpp.0752B5E8D882F703.idx
/.cache/clangd/index/FXAA.h.BF83BA77E806A128.idx
/build/cmake/gameOfLife.cmake
/.cache/clangd/index/GameOfLife.cpp.16A88397CF46718A.idx
/.cache/clangd/index/GameOfLife.h.4DDBF9312AC7827B.idx
/build/cmake/gamma.cmake
/.cache/clangd/index/Gamma.cpp.E4223C8264070A94.idx
/.cache/clangd/index/Gamma.h.B3345BC38519F423.idx
/build/cmake/gaussian.cmake
/.cache/clangd/index/Gaussian.cpp.8199BB3055976BB6.idx
/.cache/clangd/index/Gaussian.cpp.122797AC15626047.idx
/.cache/clangd/index/Gaussian.h.51D334F8D336D822.idx
/build/cmake/gaussianMulti.cmake
/.cache/clangd/index/GaussianMulti.h.E6FD544B494C9649.idx
/.cache/clangd/index/geometric.hpp.DF6CFECDB88B0F75.idx
/.cache/clangd/index/gl.hpp.200B98DEA41A870B.idx
/.cache/clangd/index/gl.inl.6A20BB5F2EF94E46.idx
/.cache/clangd/index/gli.hpp.D7C429FED285E8F4.idx
/.cache/clangd/index/glm.hpp.9E3CCA31995D6D11.idx
/.cache/clangd/index/Globals.h.BEC84022B49B2409.idx
/build/cmake/GOLCompute.cmake
/.cache/clangd/index/GOLCompute.cpp.2236316B69DAB484.idx
/.cache/clangd/index/GOLCompute.cpp.ACC337EDC222D965.idx
/.cache/clangd/index/GOLCompute.h.E26199377D338102.idx
/.cache/clangd/index/GOLCompute.h.F40BD82F3B8FC959.idx
/.cache/clangd/index/GPUQuery.h.E4C0351462C7D548.idx
/.cache/clangd/index/GraphEditor.cpp.1F9760B038D4A815.idx
/.cache/clangd/index/GraphEditor.h.D4466C62367C625D.idx
/.cache/clangd/index/HaltonSequence.h.F0EB63D13671982D.idx
/build/cmake/heatHaze.cmake
/.cache/clangd/index/HeatHaze.cpp.5A78506CFDFFB9EC.idx
/.cache/clangd/index/HeatHaze.h.7EEAEF6CB76E2866.idx
/.cache/clangd/index/identity.h.8C79878D024F5540.idx
/.cache/clangd/index/image.hpp.C2671C490A8E4322.idx
/.cache/clangd/index/image.inl.F6658930A170AFD3.idx
/.cache/clangd/index/imconfig.h.C2D6AD5D3D05B2F3.idx
/.cache/clangd/index/ImCurveEdit.cpp.AD3B1ED9AF272CFF.idx
/.cache/clangd/index/ImCurveEdit.h.E7B4A14C62761A61.idx
/.cache/clangd/index/ImGradient.cpp.140178B3E04FAA78.idx
/.cache/clangd/index/ImGradient.h.C76A61C92DAE6113.idx
/.cache/clangd/index/imgui.cpp.742127F0AA60A109.idx
/.cache/clangd/index/imgui.h.A292281C38E888D4.idx
/imgui.ini
/lib/imgui/ImGui.make
/.cache/clangd/index/imgui_demo.cpp.5DCA529C2C3ACCBC.idx
/.cache/clangd/index/imgui_draw.cpp.579DEAB237532BA1.idx
/.cache/clangd/index/imgui_internal.h.B1627E1F660C278F.idx
/.cache/clangd/index/imgui_tables.cpp.FA3C51DDB806D1A4.idx
/.cache/clangd/index/imgui_widgets.cpp.59C28497A871F62B.idx
/.cache/clangd/index/ImGuizmo.cpp.47A2881A1AFFE559.idx
/.cache/clangd/index/ImGuizmo.h.6F2EBDB33F4AED78.idx
/.cache/clangd/index/ImSequencer.cpp.2FC993A5EE8A5AFB.idx
/.cache/clangd/index/ImSequencer.h.A25E2CF9F226D150.idx
/.cache/clangd/index/imstb_rectpack.h.608B4A421530B14A.idx
/.cache/clangd/index/imstb_textedit.h.530CD6054DB62353.idx
/.cache/clangd/index/imstb_truetype.h.CBE92CF5B4A9DB87.idx
/.cache/clangd/index/inline_variable.h.59D50FCA8E38EC13.idx
/.cache/clangd/index/inlined_vector.h.AB31C4B596F13B46.idx
/.cache/clangd/index/inlined_vector.h.FAE15406C951CA74.idx
/.cache/clangd/index/integer.h.4D771026FB8FF10A.idx
/.cache/clangd/index/integer.hpp.0A8545ED4624BA47.idx
/.cache/clangd/index/integer.hpp.1F484281A4ADF8A4.idx
/.cache/clangd/index/integer.hpp.44FAE1F2E19A4060.idx
/.cache/clangd/index/integer.inl.AB65D8B739A145FC.idx
/.cache/clangd/index/integer.inl.ED063E1F527F67DF.idx
/.cache/clangd/index/invoke.h.D64638C77EB74C7D.idx
/.cache/clangd/index/levels.hpp.2E1D82146C435E55.idx
/.cache/clangd/index/levels.inl.A3FCC503AEAC71F5.idx
/.cache/clangd/index/load.hpp.33B0D795548C23BC.idx
/.cache/clangd/index/load.inl.313DEEC5E836D1BB.idx
/.cache/clangd/index/load_dds.hpp.49298F4E5291DA7C.idx
/.cache/clangd/index/load_dds.inl.59654BB316B31065.idx
/.cache/clangd/index/load_kmg.hpp.0657B3BBB215BDF5.idx
/.cache/clangd/index/load_kmg.inl.88A78F2D0BE79392.idx
/.cache/clangd/index/load_ktx.hpp.E2A1886DCA55FAE1.idx
/.cache/clangd/index/load_ktx.inl.63764668DB56F197.idx
/.cache/clangd/index/macros.h.F0779CB2557024D9.idx
/lib/imgui/Makefile
/.cache/clangd/index/mat2x2.hpp.B2752BF03FC480A1.idx
/.cache/clangd/index/mat2x3.hpp.648E0CA6B19F0A07.idx
/.cache/clangd/index/mat2x4.hpp.48B6A35A3D9F3A27.idx
/.cache/clangd/index/mat3x2.hpp.ED3C97FE96D8EAEF.idx
/.cache/clangd/index/mat3x3.hpp.E2F19692BCA56483.idx
/.cache/clangd/index/mat3x4.hpp.0C3ED8150C994A66.idx
/.cache/clangd/index/mat4x2.hpp.7F6BC43501FA1DBE.idx
/.cache/clangd/index/mat4x3.hpp.8159382557CC5907.idx
/.cache/clangd/index/mat4x4.hpp.00D813F7980C1F19.idx
/.cache/clangd/index/matrix.hpp.38E27369F985CC0A.idx
/.cache/clangd/index/matrix_clip_space.hpp.9507430094D6C856.idx
/.cache/clangd/index/matrix_clip_space.inl.1E19D0BCAC9B5D88.idx
/.cache/clangd/index/matrix_double2x2.hpp.59C57DDD36EF99C2.idx
/.cache/clangd/index/matrix_double2x2_precision.hpp.B47012B9804CEF52.idx
/.cache/clangd/index/matrix_double2x3.hpp.E01B5E28EB12FDEC.idx
/.cache/clangd/index/matrix_double2x3_precision.hpp.45D2A0E331D1750B.idx
/.cache/clangd/index/matrix_double2x4.hpp.D69C991952156229.idx
/.cache/clangd/index/matrix_double2x4_precision.hpp.2AD46601E1EB1FDF.idx
/.cache/clangd/index/matrix_double3x2.hpp.EF6815800F2DABF7.idx
/.cache/clangd/index/matrix_double3x2_precision.hpp.278621589C5AF15B.idx
/.cache/clangd/index/matrix_double3x3.hpp.203058B3C7CBFCE1.idx
/.cache/clangd/index/matrix_double3x3_precision.hpp.63E330766AF45B7D.idx
/.cache/clangd/index/matrix_double3x4.hpp.A368153208B3C0EA.idx
/.cache/clangd/index/matrix_double3x4_precision.hpp.6F59EE250F8BABFB.idx
/.cache/clangd/index/matrix_double4x2.hpp.370B24634B423953.idx
/.cache/clangd/index/matrix_double4x2_precision.hpp.8A88060B191B50F3.idx
/.cache/clangd/index/matrix_double4x3.hpp.CC40612020D131B2.idx
/.cache/clangd/index/matrix_double4x3_precision.hpp.F8D5C375B5B45527.idx
/.cache/clangd/index/matrix_double4x4.hpp.4004B9D727458C35.idx
/.cache/clangd/index/matrix_double4x4_precision.hpp.E6D711608AF757DA.idx
/.cache/clangd/index/matrix_float2x2.hpp.715067CC4FFBD416.idx
/.cache/clangd/index/matrix_float2x2_precision.hpp.985A0315D1F4CD62.idx
/.cache/clangd/index/matrix_float2x3.hpp.1021B6034AB10170.idx
/.cache/clangd/index/matrix_float2x3_precision.hpp.6FE1D8D6B0B46C4E.idx
/.cache/clangd/index/matrix_float2x4.hpp.8ABF507B60E7A244.idx
/.cache/clangd/index/matrix_float2x4_precision.hpp.E94A7D224969B557.idx
/.cache/clangd/index/matrix_float3x2.hpp.408D3B314C288951.idx
/.cache/clangd/index/matrix_float3x2_precision.hpp.317428759120C667.idx
/.cache/clangd/index/matrix_float3x3.hpp.144FF6AE8D376A41.idx
/.cache/clangd/index/matrix_float3x3_precision.hpp.6D3F74336DEF0ADB.idx
/.cache/clangd/index/matrix_float3x4.hpp.16BB089BE8A9CCB0.idx
/.cache/clangd/index/matrix_float3x4_precision.hpp.291A7E19566ACFF2.idx
/.cache/clangd/index/matrix_float4x2.hpp.1D70FD37EAA2701A.idx
/.cache/clangd/index/matrix_float4x2_precision.hpp.786EB0BF5083F645.idx
/.cache/clangd/index/matrix_float4x3.hpp.E8982C7C97061B2C.idx
/.cache/clangd/index/matrix_float4x3_precision.hpp.FCE9CD97B47CD749.idx
/.cache/clangd/index/matrix_float4x4.hpp.C4548359C14DE913.idx
/.cache/clangd/index/matrix_float4x4_precision.hpp.4ECC80A04F967C5A.idx
/.cache/clangd/index/matrix_projection.hpp.BDBCACC796422E60.idx
/.cache/clangd/index/matrix_projection.inl.016F2D1BC5F1BF9E.idx
/.cache/clangd/index/matrix_transform.hpp.9BDAE167BBB97785.idx
/.cache/clangd/index/matrix_transform.hpp.F3AB7C76C1275214.idx
/.cache/clangd/index/matrix_transform.inl.39DBFDDD9F8DB3A6.idx
/.cache/clangd/index/matrix_transform.inl.C0E311518CCB5BCC.idx
/.cache/clangd/index/memory.h.14801D0492169E7E.idx
/build/cmake/mipMapping.cmake
/.cache/clangd/index/MipMapping.cpp.31043E4F604CFEBD.idx
/.cache/clangd/index/MipMapping.h.580296B32D82569D.idx
/.cache/clangd/index/mipmaps_compute.hpp.17653F1D11FBE96B.idx
/.idea/misc.xml
/.cache/clangd/index/Model.h.7C2E6FCBAE2AF523.idx
/.idea/modules.xml
/.cache/clangd/index/norm.hpp.C43B2CCDCEB0FD48.idx
/.cache/clangd/index/norm.inl.FD444D76DED586E2.idx
/.cache/clangd/index/OBJLoader.h.A56328E10F750E07.idx
/.cache/clangd/index/optimization.h.3B09DF637145988A.idx
/.cache/clangd/index/options.h.A70239E950BFA1D0.idx
/.cache/clangd/index/packing.hpp.787D3395EC2A8F93.idx
/.cache/clangd/index/packing.hpp.A20066366B5C3B76.idx
/.cache/clangd/index/packing.inl.339FF850F0A62666.idx
/build/cmake/parallax.cmake
/.cache/clangd/index/Parallax.cpp.1196DA28370EC816.idx
/.cache/clangd/index/Parallax.h.7CCCD8C70955E225.idx
/build/cmake/perlin.cmake
/build/cmake/perlin3D.cmake
/.cache/clangd/index/Perlin3D.cpp.414BD4D1E11A3D9D.idx
/.cache/clangd/index/Perlin3D.h.0A1DC57C35A30C81.idx
/.cache/clangd/index/PerlinNoise.cpp.2D2C084CAC07ED24.idx
/.cache/clangd/index/PerlinNoise.cpp.E487E7B1D23B39AA.idx
/.cache/clangd/index/PerlinNoise.h.9D20274FF311F07A.idx
/.cache/clangd/index/PerlinNoise.h.30C4E7C876130D9E.idx
/build/cmake/pixelize.cmake
/.cache/clangd/index/Pixelize.cpp.21D8FF3789E9E49C.idx
/.cache/clangd/index/Pixelize.h.94E5B701D681B000.idx
/.cache/clangd/index/platform.h.9A0788456CCDBE28.idx
/.cache/clangd/index/policy_checks.h.E5670BAAD6829D27.idx
/.cache/clangd/index/port.h.B9E47A5C78EF0EF2.idx
/premake5.exe
/lib/imgui/premake5.lua
/.cache/clangd/index/qualifier.hpp.788C0F0F4757B516.idx
/.cache/clangd/index/quaternion.hpp.5443814ED603B016.idx
/.cache/clangd/index/quaternion.hpp.31995826035996C8.idx
/.cache/clangd/index/quaternion.inl.31FDC2F623935186.idx
/.cache/clangd/index/quaternion.inl.71A8632ECB470680.idx
/.cache/clangd/index/quaternion_common.hpp.A1BF1BE38CB32E6F.idx
/.cache/clangd/index/quaternion_common.inl.336F0188F4998EE6.idx
/.cache/clangd/index/quaternion_double.hpp.A4426A29DAC7A6CC.idx
/.cache/clangd/index/quaternion_double_precision.hpp.219E346496B1154A.idx
/.cache/clangd/index/quaternion_exponential.hpp.8A0A86FBDB8D85C3.idx
/.cache/clangd/index/quaternion_exponential.inl.AA4894E1A688CB4C.idx
/.cache/clangd/index/quaternion_float.hpp.AAC88AC7A345657A.idx
/.cache/clangd/index/quaternion_float_precision.hpp.39BDD32E4523A91A.idx
/.cache/clangd/index/quaternion_geometric.hpp.C766481A4E5B9C8E.idx
/.cache/clangd/index/quaternion_geometric.inl.8147BFC24AE7DE7B.idx
/.cache/clangd/index/quaternion_relational.hpp.96533D5ECAF6E987.idx
/.cache/clangd/index/quaternion_relational.inl.6C3BAB21029C0396.idx
/.cache/clangd/index/quaternion_transform.hpp.62F5E089AA3E0227.idx
/.cache/clangd/index/quaternion_transform.inl.76E2C8FC129FFA81.idx
/.cache/clangd/index/quaternion_trigonometric.hpp.271BDA43EA344A0D.idx
/.cache/clangd/index/quaternion_trigonometric.inl.3DC710E1198B0D5B.idx
/build/cmake/radialBlur.cmake
/.cache/clangd/index/RadialBlur.cpp.4CEE363FCB27D2AE.idx
/.cache/clangd/index/RadialBlur.h.7995ABA465E9CAC2.idx
/.cache/clangd/index/raw_data.hpp.3DEED81DAE4850B9.idx
/.cache/clangd/index/raw_data.inl.44264F39B1016B2D.idx
/.cache/clangd/index/reduce.hpp.A8A77F69D59BE08E.idx
/.cache/clangd/index/reduce.inl.450EE403AA7A23DA.idx
/.cache/clangd/index/robin_growth_policy.h.2EBA31C83471CB14.idx
/.cache/clangd/index/robin_hash.h.AA1F31C3F258CB34.idx
/.cache/clangd/index/robin_map.h.80D7A2B2A8FB12FE.idx
/.cache/clangd/index/round.hpp.9C802FEBC3806388.idx
/.cache/clangd/index/round.inl.50D7D111E3F5BEA1.idx
/.cache/clangd/index/s3tc.hpp.335661F0A45BEFD7.idx
/.cache/clangd/index/s3tc.inl.17043943BB475CDA.idx
/.cache/clangd/index/sampler.hpp.B2BAB09A9331FAC4.idx
/.cache/clangd/index/sampler.inl.4166075F327418FA.idx
/.cache/clangd/index/sampler1d.hpp.58D3834757B21EED.idx
/.cache/clangd/index/sampler1d.inl.555526E1FA09B847.idx
/.cache/clangd/index/sampler1d_array.hpp.3895B159D08BFA3C.idx
/.cache/clangd/index/sampler1d_array.inl.1E997F2E16AB9C24.idx
/.cache/clangd/index/sampler2d.hpp.4BE0E2C816776426.idx
/.cache/clangd/index/sampler2d.inl.0B475DFC8EE2E4A8.idx
/.cache/clangd/index/sampler2d_array.hpp.050D9B56BC4A21D6.idx
/.cache/clangd/index/sampler2d_array.inl.699109833B90654A.idx
/.cache/clangd/index/sampler3d.hpp.D1D563B82030459A.idx
/.cache/clangd/index/sampler3d.inl.39027E746A15188D.idx
/.cache/clangd/index/sampler_cube.hpp.A1BDF4F65F0CEDE2.idx
/.cache/clangd/index/sampler_cube.inl.34E7C337FE10EB9A.idx
/.cache/clangd/index/sampler_cube_array.hpp.6D3D50FF4CE6830D.idx
/.cache/clangd/index/sampler_cube_array.inl.CF7D16649468811C.idx
/.cache/clangd/index/save.hpp.C719DDFC7B08E256.idx
/.cache/clangd/index/save.inl.01994F14BB2A9C6E.idx
/.cache/clangd/index/save_dds.hpp.9056CE63EF5EC0A5.idx
/.cache/clangd/index/save_dds.inl.2485CFE4D16542AD.idx
/.cache/clangd/index/save_kmg.hpp.0BC6A4C5B122F528.idx
/.cache/clangd/index/save_kmg.inl.2474A6A0459E996F.idx
/.cache/clangd/index/save_ktx.hpp.DCA7A07E9B1085AB.idx
/.cache/clangd/index/save_ktx.inl.066A81CB84D8A381.idx
/.cache/clangd/index/scalar_common.hpp.9D885E6C58D0F0D4.idx
/.cache/clangd/index/scalar_common.inl.98FBF817476178BE.idx
/.cache/clangd/index/scalar_constants.hpp.B92310CA13AFF090.idx
/.cache/clangd/index/scalar_constants.inl.8DB26787021DC229.idx
/.cache/clangd/index/scalar_int_sized.hpp.90037EF0FE6857C9.idx
/.cache/clangd/index/scalar_integer.hpp.7DE7E6D8A147446A.idx
/.cache/clangd/index/scalar_integer.inl.5DD02C5633A478B1.idx
/.cache/clangd/index/scalar_relational.hpp.A1F2289847803DB0.idx
/.cache/clangd/index/scalar_relational.inl.85429AFA471E0C8B.idx
/.cache/clangd/index/scalar_uint_sized.hpp.3F9C1AD58AD20B76.idx
/build/cmake/scene.cmake
/.cache/clangd/index/Scene.cpp.314750003ECDB60D.idx
/.cache/clangd/index/Scene.h.D7356BB0D5AF56BB.idx
/build/cmake/scene3D.cmake
/.cache/clangd/index/Scene3D.cpp.9E793856484743C8.idx
/.cache/clangd/index/Scene3D.h.A1AFA73EBBB0E2CB.idx
/build/cmake/sepia.cmake
/.cache/clangd/index/Sepia.cpp.7D97BAC33FA1289D.idx
/.cache/clangd/index/Sepia.h.DCF8C5068EB724F9.idx
/.vscode/settings.json
/.cache/clangd/index/setup.hpp.C0D1968A2AD28946.idx
/.cache/clangd/index/shaderLoader_t.h.37A28B9400FF0354.idx
/build/cmake/sharpen.cmake
/.cache/clangd/index/Sharpen.cpp.F925C8024A0E046E.idx
/.cache/clangd/index/Sharpen.h.2E5C9AE5662420CB.idx
/.cache/clangd/index/span.h.2BF579214A333E4E.idx
/.cache/clangd/index/span.h.80A7F8DFD8EA8A9A.idx
/.cache/clangd/index/stb_image.h.B06085C9E7FEE7C7.idx
/.cache/clangd/index/stb_image_write.h.55C7F4543B205211.idx
/.cache/clangd/index/storage_linear.hpp.A1A01E7F6A7CF2CE.idx
/.cache/clangd/index/storage_linear.inl.7434F1C6D6AFDD20.idx
/.cache/clangd/index/string_view.h.754C7991F0FBA53B.idx
/.cache/clangd/index/target.hpp.DC607ED4596C6245.idx
/.cache/clangd/index/Texture.h.B910BC4D2D519A84.idx
/.cache/clangd/index/texture.hpp.9E3622258A8E2299.idx
/.cache/clangd/index/texture.inl.39418A1E1946C936.idx
/.cache/clangd/index/texture1d.hpp.BC4F6AB868CEC5FA.idx
/.cache/clangd/index/texture1d.inl.14CB8BF466D4D216.idx
/.cache/clangd/index/texture1d_array.hpp.5435A7128047B1EA.idx
/.cache/clangd/index/texture1d_array.inl.661B7CA55E85929D.idx
/.cache/clangd/index/texture2d.hpp.BCD82905A27205EC.idx
/.cache/clangd/index/texture2d.inl.2A9521D16A85919D.idx
/.cache/clangd/index/texture2d_array.hpp.7072953CFEB266DA.idx
/.cache/clangd/index/texture2d_array.inl.65FB9348075EA127.idx
/.cache/clangd/index/texture3d.hpp.E7D294A287873925.idx
/.cache/clangd/index/texture3d.inl.D1D06B0D2F24AC0E.idx
/.cache/clangd/index/texture_cube.hpp.1DF7D0C7CFF221E4.idx
/.cache/clangd/index/texture_cube.inl.9BE0869D2FDAA4E9.idx
/.cache/clangd/index/texture_cube_array.hpp.6EE7EDD64D1D8D53.idx
/.cache/clangd/index/texture_cube_array.inl.5F97CD5C2E325A9C.idx
/build/cmake/textured.cmake
/.cache/clangd/index/Textured.cpp.4D0923D409A2DA7E.idx
/.cache/clangd/index/TexturedModel.cpp.E18C68DEAAB8772E.idx
/.cache/clangd/index/TexturedModel.h.CB47F8508E9E81F8.idx
/.cache/clangd/index/TexturedScene.h.16CC3DCD95646624.idx
/build/cmake/texturedScene3D.cmake
/build/cmake/textureSettings.cmake
/.cache/clangd/index/TextureSettings.cpp.B73EC2E191FEB441.idx
/.cache/clangd/index/TextureSettings.h.328C727D5EEABF3E.idx
/.cache/clangd/index/throw_delegate.h.B103BBE60691F62F.idx
/.cache/clangd/index/TinyClock.h.1E3CEC8B8694A1A1.idx
/.cache/clangd/index/TinyExtender.h.764233B1BF2E3460.idx
/.cache/clangd/index/TinyShaders.h.FD43CB09F0FA4E5B.idx
/.cache/clangd/index/TinyWindow.h.92D4A3D705F6C4EF.idx
/.cache/clangd/index/transform.hpp.0271AA9CD6D054C4.idx
/.cache/clangd/index/transform.inl.9FF1774E572CE446.idx
/.cache/clangd/index/trigonometric.hpp.DFDA9CD1C42D4159.idx
/.cache/clangd/index/type.hpp.540CAA14C1366009.idx
/.cache/clangd/index/type_float.hpp.4B418D81471881C9.idx
/.cache/clangd/index/type_half.hpp.FAD35389433F02BB.idx
/.cache/clangd/index/type_half.inl.4502A6C856515325.idx
/.cache/clangd/index/type_mat2x2.hpp.FF4CB92CC5AF1BA1.idx
/.cache/clangd/index/type_mat2x2.inl.62BBDEA9D4CCC568.idx
/.cache/clangd/index/type_mat2x3.hpp.F12A456D6679A0F4.idx
/.cache/clangd/index/type_mat2x3.inl.935EA5C13415B281.idx
/.cache/clangd/index/type_mat2x4.hpp.A91589A793F0FBB7.idx
/.cache/clangd/index/type_mat2x4.inl.BDCB9A60EE572F85.idx
/.cache/clangd/index/type_mat3x2.hpp.1D3227A8EC7A1E8A.idx
/.cache/clangd/index/type_mat3x2.inl.B1923DA2C70AA497.idx
/.cache/clangd/index/type_mat3x3.hpp.E84457240C2015CD.idx
/.cache/clangd/index/type_mat3x3.inl.5569012674B069B3.idx
/.cache/clangd/index/type_mat3x4.hpp.CDDEF4F3DEB5DE6B.idx
/.cache/clangd/index/type_mat3x4.inl.63D6157D03F7A945.idx
/.cache/clangd/index/type_mat4x2.hpp.8B839A6E3AC628C1.idx
/.cache/clangd/index/type_mat4x2.inl.63590251EE08AFC4.idx
/.cache/clangd/index/type_mat4x3.hpp.E338E89676466A8F.idx
/.cache/clangd/index/type_mat4x3.inl.AEEC2C4AFC12C817.idx
/.cache/clangd/index/type_mat4x4.hpp.CD2E6293B3AB192D.idx
/.cache/clangd/index/type_mat4x4.inl.BB233BFDD9D92B6F.idx
/.cache/clangd/index/type_precision.hpp.61667A26342E070C.idx
/.cache/clangd/index/type_precision.inl.FE2FF026852CC286.idx
/.cache/clangd/index/type_ptr.hpp.5C3584FADF3C9DC2.idx
/.cache/clangd/index/type_ptr.inl.F59DF4A5CC09B852.idx
/.cache/clangd/index/type_quat.hpp.C44B0E1FEB666076.idx
/.cache/clangd/index/type_quat.inl.3E72493C9B0099F3.idx
/.cache/clangd/index/type_traits.h.C5BA76E88C9C8A63.idx
/.cache/clangd/index/type_vec1.hpp.2011DA6A0ABA3137.idx
/.cache/clangd/index/type_vec1.inl.D24A7D4EF243F75C.idx
/.cache/clangd/index/type_vec2.hpp.04B5AA2C64BA4D59.idx
/.cache/clangd/index/type_vec2.inl.170355E6D6857C06.idx
/.cache/clangd/index/type_vec3.hpp.3C92A03D3E9B4BA6.idx
/.cache/clangd/index/type_vec3.inl.E52025A666A686ED.idx
/.cache/clangd/index/type_vec4.hpp.4022F6E91312913E.idx
/.cache/clangd/index/type_vec4.inl.FA5711F018217159.idx
/.cache/clangd/index/ufbx.c.117B9A4521464EB3.idx
/.cache/clangd/index/ufbx.h.B20AAAEB25EA78F3.idx
/.cache/clangd/index/UniformBuffer.h.67B22CC42C475206.idx
/.cache/clangd/index/Utilities.h.FD7CE795614F2E3C.idx
/.cache/clangd/index/utility.h.CA0EC7FC53DCB9A1.idx
/.idea/vcs.xml
/.cache/clangd/index/vec1.hpp.77A6F534BB82022C.idx
/.cache/clangd/index/vec2.hpp.CEEB3FE3BDA24F68.idx
/.cache/clangd/index/vec3.hpp.C09C126D64982402.idx
/.cache/clangd/index/vec4.hpp.2FF9137DB7ADD023.idx
/.cache/clangd/index/vector_bool1.hpp.EB3F2E601BC69A5C.idx
/.cache/clangd/index/vector_bool1_precision.hpp.2231B4E3FEB6F0DB.idx
/.cache/clangd/index/vector_bool2.hpp.AB412F6FB4C29727.idx
/.cache/clangd/index/vector_bool2_precision.hpp.6930F54BA2DF4F8F.idx
/.cache/clangd/index/vector_bool3.hpp.25B039B5A735DECB.idx
/.cache/clangd/index/vector_bool3_precision.hpp.00E21F61F826D408.idx
/.cache/clangd/index/vector_bool4.hpp.005EE04B844C427D.idx
/.cache/clangd/index/vector_bool4_precision.hpp.C7FA66A8308EA49F.idx
/.cache/clangd/index/vector_common.hpp.DC3FC5F4B13BE757.idx
/.cache/clangd/index/vector_common.inl.B742CC3701716EBA.idx
/.cache/clangd/index/vector_double1.hpp.8D071853F97EB982.idx
/.cache/clangd/index/vector_double1_precision.hpp.B62582BF5FAA7218.idx
/.cache/clangd/index/vector_double2.hpp.34C0A9409DDD1879.idx
/.cache/clangd/index/vector_double2_precision.hpp.6067E83BC764AE96.idx
/.cache/clangd/index/vector_double3.hpp.D6196C0933D2EB1B.idx
/.cache/clangd/index/vector_double3_precision.hpp.2B899D48A5D4774E.idx
/.cache/clangd/index/vector_double4.hpp.F1201A7EBCBF7830.idx
/.cache/clangd/index/vector_double4_precision.hpp.0F3862C723B64AD0.idx
/.cache/clangd/index/vector_float1.hpp.5F60127B7ED83EE1.idx
/.cache/clangd/index/vector_float1_precision.hpp.ABFA7B7BAF22679E.idx
/.cache/clangd/index/vector_float2.hpp.0B47A64F6B980851.idx
/.cache/clangd/index/vector_float2_precision.hpp.84ADFB4A04E40E1F.idx
/.cache/clangd/index/vector_float3.hpp.1B59312166F2B447.idx
/.cache/clangd/index/vector_float3_precision.hpp.67754B84FE57B186.idx
/.cache/clangd/index/vector_float4.hpp.BFF6BDB972549141.idx
/.cache/clangd/index/vector_float4_precision.hpp.6B3549C274AC62EB.idx
/.cache/clangd/index/vector_int1.hpp.9A777EE10A8E6723.idx
/.cache/clangd/index/vector_int1_sized.hpp.A7EC9DF281194134.idx
/.cache/clangd/index/vector_int2.hpp.2DD3BF03D0CB125F.idx
/.cache/clangd/index/vector_int2_sized.hpp.FF245EED46F87DF9.idx
/.cache/clangd/index/vector_int3.hpp.A217309E708D13E1.idx
/.cache/clangd/index/vector_int3_sized.hpp.CBB7123D52D34C6A.idx
/.cache/clangd/index/vector_int4.hpp.BBCA93CCA53FFE42.idx
/.cache/clangd/index/vector_int4_sized.hpp.6B21720D0819CE88.idx
/.cache/clangd/index/vector_integer.hpp.0A6D24007F7C15CC.idx
/.cache/clangd/index/vector_integer.inl.C0D3F3F6554F336C.idx
/.cache/clangd/index/vector_packing.hpp.6C328B98AB7FC006.idx
/.cache/clangd/index/vector_packing.inl.3288578661981685.idx
/.cache/clangd/index/vector_relational.hpp.C9C640A2EE7488B5.idx
/.cache/clangd/index/vector_relational.hpp.F2498D16CF3B5907.idx
/.cache/clangd/index/vector_relational.inl.E13F7549EA5F8698.idx
/.cache/clangd/index/vector_uint1.hpp.2D3444669AA4BA29.idx
/.cache/clangd/index/vector_uint1_sized.hpp.7897E67EF70B1BE6.idx
/.cache/clangd/index/vector_uint2.hpp.1728E51B7DF7A671.idx
/.cache/clangd/index/vector_uint2_sized.hpp.1102614E6D93E137.idx
/.cache/clangd/index/vector_uint3.hpp.FF165619A8EB07E6.idx
/.cache/clangd/index/vector_uint3_sized.hpp.37EAEE74F8B4F4DE.idx
/.cache/clangd/index/vector_uint4.hpp.6BB19A66B198CEF9.idx
/.cache/clangd/index/vector_uint4_sized.hpp.A8F0986D5098833B.idx
/.cache/clangd/index/VertexAttribute.h.9CE871CC58CD01F5.idx
/.cache/clangd/index/VertexBuffer.h.7355494B9021E05B.idx
/.cache/clangd/index/view.hpp.493D3BA5C199B61B.idx
/.cache/clangd/index/view.inl.FB22A7600D979EBB.idx
/.cache/clangd/index/wrap.hpp.11BFA455B431B981.idx
/.cache/clangd/index/wrap.inl.48E4B4CFE4612556.idx
/.cache/clangd/index/yyjson.c.1B58A8C287D04F6A.idx
/.cache/clangd/index/yyjson.h.A55C0DE5D3CD245B.idx
